.content {
  margin: 0 auto;
  padding: 40px 0;
}

@media screen and (max-width: 920px) {
  .content {
    padding: 42px 19px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    padding: 42px 19px;
  }
}