.element {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.element__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.element__info {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
  color: black;
}

.element__like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.element__like-count {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000;
}

  .element__like-button {
    width: 22px;
    height: 19px;
    background: transparent url('../images/like.svg') center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.3s ease;
  }

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button_active {
  background-image: url('../images/like-active.svg');
}

.element__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background: transparent url("../images/delete.svg") center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
}

.element__delete-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .element__info {
    padding: 25px 20px;
  }

  .element__title {
    font-size: 24px;
    line-height: 29px;
    max-width: 190px;
  }
}