.profile {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-areas:
    "image info add";
  padding: 1.64vw 0;
  align-items: self-start;
  margin-bottom: 3.9vw;
  gap: 2.3vw;
}

.profile__avatar {
  width: 11.71vw;
  height: 11.71vw;
  border-radius: 50%;
  object-fit: cover;
}

.profile__avatar-container {
  position: relative;
  grid-area: image;
}

.profile__avatar-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.71vw;
  height: 11.71vw;
  background: rgba(0, 0, 0, 0.8);
  background-image: url("../images/Edit_Button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.6vw;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile__avatar-edit:hover {
  opacity: 1;
}

.profile__info {
  grid-area: info;
  display: grid;
  align-self: center;
  grid-template-areas:
    "name edit"
    "about .";
  max-width: 41vw;
  gap: 1.6vw;
}

.profile__name {
  grid-area: name;
  margin: 0;
  font-size: 2.62em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__about {
  grid-area: about;
  margin: 0;
  font-weight: 400;
  font-size: 1.12em;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.profile__edit-button {
  grid-area: edit;
  background: none;
  background-image: url("../images/Edit_Button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  align-self: center;
  width: 1.87vw;
  height: 1.87vw;
  cursor: pointer;
  margin-top: 25%;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  grid-area: add;
  background: none;
  background-image: url("../images/Add_Button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  justify-self: end;
  width: 11.71vw;
  height: 3.9vw;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__edit-icon {
  align-self: baseline;
  width: 100%;
}

.profile__edit-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 544px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "info"
      "edit"
      "add";
    justify-items: center;
    text-align: center;
    margin: 0 0 36px 0;
  }

   .profile__avatar {
    width: 33.33vw;
    height: 33.33vw;
    margin: 0 0 30px 0;
  }

  .profile__info {
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows: auto 2fr;
  grid-template-areas:
    "name name edit"
    "about about about";
  max-width: none;
  }

  .profile__about {
    font-size: 1.6em;
  }

  .profile__info-title {
    margin-bottom: 14px;
    text-align: center;
    max-width: 60vw;
    max-height: 9vw;
  }
  .profile__info-subtitle {
    margin-bottom: 36px;
    text-align: center;
    font-size: 1.66em;
    max-width: 60vw;
    max-height: 7vw;
  }
  .profile__edit-button {
    width: 5.6vw;
    height: 5.6vw;
  }

  .profile__add-button {
    justify-self: center;
    background-image: url("../images/Add_Button_large.svg");
    width: 100%;
    height: 15.6vw;
  }
}

@media screen and (max-width: 320px) {
}
