.profile {
  display: grid;
  grid-template-columns: auto auto 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image title edit add"
    "image subtitle . add";
  padding: 1.64vw 0;
  align-items: self-start;
  margin-bottom: 3.9vw;
}

.profile__avatar {
  width: 11.71vw;
  height: 11.71vw;
  border-radius: 50%;
  object-fit: cover;
}

.profile__avatar-container {
  position: relative;
  grid-area: image;
  margin: -1.64vw 2.34vw -1.64vw 0px;
}

.profile__avatar-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.71vw;
  height: 11.71vw;
  background: rgba(0, 0, 0, 0.8);
  background-image: url("../images/Edit_Button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.6vw;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile__avatar-edit:hover {
  opacity: 1;
}

.profile__info-title {
  grid-area: title;
  margin: 0 1.4vw 1.25vw 0;
  max-width: 35vw;
  max-height: 7vw;
  align-self: baseline;
  font-size: 2.62em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__info-subtitle {
  grid-area: subtitle;
  margin: 0;
  max-width: 35vw;
  max-height: 3.125vw;
  font-weight: 400;
  font-size: 1.12em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  grid-area: edit;
  background: none;
  background-image: url("../images/Edit_Button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  align-self: baseline;
  width: 1.87vw;
  height: 1.87vw;
  cursor: pointer;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  grid-area: add;
  background: none;
  background-image: url("../images/Add_Button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  justify-self: end;
  width: 11.71vw;
  height: 3.9vw;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__edit-icon {
  align-self: baseline;
  width: 100%;
}

.profile__edit-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 544px) {
  .profile {
    grid-template-columns: 1fr 1fr auto auto 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      ". . image . ."
      ". . title edit ."
      ". . subtitle . ."
      "add add add add add";
    padding: 0;
    justify-items: center;
    margin-bottom: 11.25vw;
  }
  .profile__avatar {
    width: 33.33vw;
    height: 33.33vw;
    margin: 0 0 30px 0;
  }
  .profile__info-title {
    margin-bottom: 14px;
    text-align: center;
    max-width: 60vw;
    max-height: 9vw;
  }
  .profile__info-subtitle {
    margin-bottom: 36px;
    text-align: center;
    font-size: 1.66em;
    max-width: 60vw;
    max-height: 7vw;
  }
  .profile__edit-button {
    width: 5.6vw;
    justify-self: baseline;
  }
  .profile__add-button {
    justify-self: center;
    background-image: url("../images/Add_Button_large.svg");
    width: 100%;
    height: 15.6vw;
  }
}

@media screen and (max-width: 320px) {
}
